.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.title{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
}

.table{
    width: 100%;
}

.table td{
    padding: 10px;
    border-bottom: 1px solid var(--bg);
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.userImage{
    object-fit: cover;
    border-radius: 50%;
}

.status{
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: white;
}

.pending{
    background-color: #f7cb7375;
}

.inProgress{
    background-color: #afd6ee75;
}

.completed{
    background-color: #06f10975;
}

.cancelled{
    background-color: #f1060675;
}